@import "tailwindcss";

@layer base {
  html,
  :host {
    @apply text-neutral-700 bg-neutral-50;
  }

  html {
    @apply h-screen;
  }

  body,
  #root {
    @apply min-h-screen;
  }
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: block;
  }
}

@keyframes ripple-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 0.5;
  }
  75%,
  100% {
    opacity: 0;
    transform: scale(1.75);
  }
}

@keyframes ripple-2 {
  0%,
  10% {
    opacity: 0;
    transform: scale(1);
  }
  15% {
    opacity: 0.5;
    transform: scale(1);
  }
  85%,
  100% {
    opacity: 0;
    transform: scale(1.75);
  }
}

@keyframes ripple-3 {
  0%,
  15% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.75);
  }
}
